@charset "UTF-8";
.body{
    width:100%;
}

.header{
    width:400px;
    height:100px;
    background-color: #141f40;
}
.left{
    width:150px;
    height:250px;
    background-color: #80bfa8;
    float:left;
}
    
.right{
    width: 250px;
    height:250px;
    float:left;
}
.right1{
    width:250px;
    float:left;
}
.top{
    width:150px;
    height:50px;
    background-color: #dbd400;
}
.top-center{
    width:150px;
    height:100px;
    background-color: #0093b7;
}
.top-right{
    width:100px;
    height:150px;
    background-color: #ff9e6b;
    float:left;
}
.right-under{
    width:250px;
    height:100px;
    background-color: #8c2727;
    float:left;
}
.footer{
    width:400px;
    height:100px;
    background-color: #d98d30;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}